.w3-theme {
    color: #ffff !important;
    background-color: rgb(88, 30, 24) !important
}

.w3-code {
    border-left: 4px solid rgb(88, 30, 24)
}

.w3-text-IE {
    color:#384655!important
}

.myMenu {
    margin-bottom: 150px
}